<html>
  <head>
    <link rel="stylesheet" href="../css/index.css">
    <title>OWTF</title>
  </head>
  <body>
    <h1>mis cursos</h1>
    {{{miscursos}}}
    <h4 onclick="document.location.href='/'">Volver</h4>
  </body>
</html>

