<p>Bienvenido(a) a la plataforma de aprendizaje permanente</p>

<div>
    <p>{{registrado usuario cedula correo telefono contrasena}}</p>
</div>

<h4 onclick="document.location.href='/'">Volver al inicio</h4>
<h4 onclick="document.location.href='/login'">Ingresar</h4>