.welcome, .face {
  width: 100%;
  margin-top: 10px;
  font-size: 50px;
  text-align: center;
}

.name, .message{
  width: 100%;
  margin-top: 10px;
  font-size: 20px;
  text-align: center;
}

.salir{
  width: 100%;
  margin-top: 10px;
  font-size: 20px;
  text-align: center;
}

.salir:hover{
  cursor: pointer;
}

.accion {
  width: 100%;
  margin-top: 30px;
  font-size: 17px;
  text-align: left;
}

.user-action{
  width: 100%;
  margin-left: 30px;
  font-size: 17px;
  text-align: left;
}

.login{
  width: 100%;
  font-size: 17px;
  text-align: center;
}

